/* Comments */

.comment-right {
    flex: 1;
}

.comment-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-side-bar {
    background-color: cornflowerblue;
    margin: 4px 16px;
    width: 4px;
    flex: 1;
    cursor: pointer;
}

.comment-header {
    cursor: pointer;
}

.comment-container {
    display: flex;
}

/* Posts */

.post-vote-container {
    display: flex;
}

/* Tag inputs */

.tag-input {
    display: flex;
    align-items: center;
}

.tag {
    min-width: 1em;
    min-height: 1.5em;
}

.tag-input-input {
    border: none;
    outline: none;
    flex: 1;
}

/* Votes */

.vote-view {
    margin: 6px;
}

.upvote-button, .downvote-button {
    cursor: pointer;
    position: absolute;
}

.upvote-representation, .downvote-representation {
    cursor: pointer;
    pointer-events: none;
}

.upvote-representation {
    color: orange;
}

.downvote-representation {
    color: blueviolet;
}