body {
    margin: 0px;
}

/* Compose */

.compose-submit {
    margin-top: 8px;
}

/* Comments */

.comment-side-bar {
    background-color: cornflowerblue;
    margin: 4px 16px;
    width: 4px;
    flex: 1;
    cursor: pointer;
}

.comment-right {
    flex: 1;
}

.comment-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    display: flex;
}

/* Posts */

.post-vote-container {
    display: flex;
}

.post-summary {
    display: flex;
}

/* Votes */

.vote-view {
    text-align: center;
}

.vote-button-representation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vote-button-representation,.vote-button-background {
    pointer-events: none;
}

.vote-button-container {
    position: relative;
}

.upvote-representation {
    color: orange;
}

.downvote-representation {
    color: blueviolet;
}

.vote-button-background {
    z-index: -1;
}

.vote-sections {
    position: absolute;
    width: 100%;
}

.vote-section {
    cursor: pointer;
}
